
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "ITC Avant Garde Gothic", "Segoe UI", sans-serif;
}

body {
    background-color: #1a1a1a; 
    color: white;

}


.div_banner {
    position: relative;
    height: 60vh; 
    min-height: 500px;
    overflow: hidden;
}

.img_banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top; 
}

.overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to right,
        #0f2f25 30%,
        rgba(15, 47, 37, 0.8) 55%,
        transparent 100%
    );
}

.conteudo_banner {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 5%; 
    transform: translateY(-50%);
    color: white;
    gap: 25px;
    max-width: 600px;
}

.voltar {
    text-decoration: none;
    font-size: 1.1rem;
    color: #ccc;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    gap: 8px;
}

.voltar:hover {
    color: #38ce83;
}

.div_infoFilme {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ano {
    color: #38ce83;
    font-weight: bold;
    letter-spacing: 2px;
}

.titulo {
    font-size: 3.5rem;
    line-height: 1.1;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.info {
    display: flex;
    gap: 15px;
    color: #ddd;
    font-size: 0.95rem;
}

.div_botoes {
    display: flex;
    gap: 10px;
    
    margin-top: 10px;
}

.btn_principal,
.btn_secundario {
    display: flex;
    align-items: center;
    padding: 15px 25px;
    gap: 10px;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 8px; 
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn_terciario{
    display: flex;
    align-items: center;
    padding: 15px 15px;
    gap: 10px;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 8px; 
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #e6c36a;
    border: none;
 
}

.btn_terciario:hover{
    background-color: #d4b45c;
}

.btn_principal {
    background-color: #38ce83;
    border: 2px solid #38ce83;
    color: #111;
}

.btn_principal:hover {
    background-color: #2fb172;
    border-color: #2fb172;

}

.btn_secundario {
    border: 2px solid #ccc;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    color: white;
}

.btn_secundario:hover {
    background-color: white;
    color: #222;
    border-color: white;

}


.container_detalhes {
    display: flex;
    justify-content: center;
    padding: 60px 5%;
}

.div_conteudoFilme {
    display: flex;
    flex-wrap: wrap; 
    gap: 40px;
    background: linear-gradient(145deg, #11241a, #0d1c14);
    padding: 40px;
    width: 100%;
    max-width: 1400px;
    border-radius: 20px;
    align-items: stretch;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.6);
}

.div_poster img {
    width: 250px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
    transition: transform 0.3s ease;
}

.div_poster img:hover {
    transform: scale(1.03);
}

.info_extra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    font-size: 1rem;
    flex: 1;
    min-width: 200px;
}

.info_extra i {
    color: #38ce83;
    margin-right: 8px;
}

.linha {
    width: 1px;
    background: linear-gradient(
        to bottom,
        transparent,
        rgba(255, 255, 255, 0.2),
        transparent
    );
}

.div_sinopse {
    flex: 1;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.div_sinopse h2 {
    font-size: 1.2rem;
    color: #38ce83;
    letter-spacing: 1px;
}

.div_sinopse p {
    line-height: 1.8;
    color: #ccc;
    font-size: 1.05rem;
}

.trailer {
    flex: 2;
    min-width: 300px;
    display: flex;
    align-items: center;
}

.trailer iframe {
    width: 100%;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}


.div_modalNota{
    position: fixed;
    top: 0;
    left: 0;
    background-color: red;
    z-index: 99;
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.7);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}


.div_modal{
    background-color: #1a1a1a; 
    width: 700px;
    height: 400px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 999;
    align-items: center;
}

.div_btnAvaliar{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    justify-items: center; 
    align-items: center;
    
}

.btn-avaliar{
    height: 60px;
    width: 60px;
    background-color: transparent;
    border: 3px solid #1e7faf;
    border-radius: 8px;
    color: white;
    font-size: 28px;
    transition: ease-in 0.2s;
}

.btn-avaliar:hover{
    background-color: #1e7faf30;
}

.div_modalNota p{
    font-size:20px ;
}

.div_modalNota img{
    z-index: -1;
    position: absolute;
    width: 300px;
    top: 0%;
}

.btn_enviarAvaliar{
    width: 400px;
    height: 40px;
    background-color: #6faf8f;
    border: none;
    border-radius: 5px;
    color: white;
    transition: ease 0.2s;
    cursor: pointer;
}

.btn_enviarAvaliar:hover{
    background-color: #5c8972;
}



